body {
  background-color: #000;
  background-image: url("img.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.col-1 {
  transition: all 0.1s ease;
  min-height: 10vh;
  background-color: rgba(0, 0, 0, 0.999);
  
}
.col-1:hover {
  background: transparent;
}
